<% include ../partials/header %>

<h1 ><%= fullname %></h1>
<h2 ><%= psuid %></h2>
<ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul>
<h3><%= bdate %></h3>

<% include ../partials/footer %>