<% include ../partials/header %>

<div class="jumbotron">
           <h1 class="display-3">Bello EJS</h1>
           <p class="lead"><br>140-390 Full Stack Web with JS<br></p>
           <h3>Wachirawit Bumrungchua</h3>
           <h4>5930213050</h4>
           <hr class="my-2">
           <p>More info</p>
           <p class="lead">
               <a class="btn btn-primary btn-lg" href="about" role="button">About ME</a>
           </p>
       </div>

<% include ../partials/footer %>