<% include ../partials/header %>

<div class="jumbotron">
           <h1 class="display-3">Bello EJS</h1>
           <p class="lead">140-390 Full Stack Web with JS</p>
           <p>Wachirawit Bumrungchua</p>
           <hr class="my-2">
           <p>More info</p>
           <p class="lead">
               <a class="btn btn-primary btn-lg" href="about" role="button">About ME</a>
           </p>
       </div>

<% include ../partials/footer %>