<% include ../partials/header %>
<h1>Add New Product :</h1>
 <form action="/products/insert" method="post">

<div class="form-group">
  <label for="id">ID</label>
  <input type="number"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder=""value="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text"
      class="form-control" name="title" id="" aria-describedby="helpId" placeholder=""value="">
    <small id="helpId" class="form-text text-muted">Title</small>
  </div>

  <div class="form-group">
    <label for="Price">Price</label>
    <input type="number"
      class="form-control" name="price" id="" aria-describedby="helpId" placeholder=""value="">
    <small id="helpId" class="form-text text-muted">Price</small>
    </div>
    <div class="form-group">
        <label for="">Time</label>
        <input type="text"
          class="form-control" value="<%= time %>"name="price" id="" aria-describedby="helpId" placeholder="" disabled>
        <small id="helpId" class="form-text text-muted">Time</small>
</div>
    <a name="" id="" class="btn btn-dark" href="/products" role="button">Cancel</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>

  <% include ../partials/footer %>
